<app-header></app-header>


<div class="container-fluid bg-light">

  <div class="row">

    <div class="col-7">
      <input type="text" placeholder="Search" name="searchString" [(ngModel)]="searchString" class="form-control w-25">
    </div>


    <div class="col-5">
      <h3>Filter skills</h3>
    </div>

  </div>

  <div class="row">

    <div class="col-7">
      <table class="table table-sm border table-hover bg-white">

        <thead>
        <tr>
          <th class="colCustom1">Name</th>
          <th class="colCustom2">{{exp1}}</th>
          <th class="colCustom2">{{exp2}}</th>
          <th class="colCustom2">{{exp3}}</th>
          <th class="colCustom2">Add</th>
        </tr>
        </thead>

        <tbody class="filterBody" style="height: 14.5vh">
        <tr *ngFor="let skill of fullSkillList | filter : searchString; let indexCount = index">
          <td class="colCustom1">{{skill.name}}</td>
          <td class="colCustom3"><input type="radio" name="optionsSkill{{skill.id}}" [checked]="fullSkillList[indexCount].exp1" (click)="radioOne(skill)"></td>
          <td class="colCustom3"><input type="radio" name="optionsSkill{{skill.id}}" [checked]="fullSkillList[indexCount].exp2" (click)="radioTwo(skill)"></td>
          <td class="colCustom3"><input type="radio" name="optionsSkill{{skill.id}}" [checked]="fullSkillList[indexCount].exp3" (click)="radioThree(skill)"></td>
          <td class="colCustom3"><span (click)="addSkillToFilter(skill, indexCount)" class="clickableSpan">+</span></td>
        </tr>
        <tr class="emptyTableDiv border" *ngIf="fullSkillList < 1" style="line-height: 12vh;">Empty</tr>
        </tbody>
      </table>

    </div>

    <div class="col-5">



      <table class="table table-sm border table-hover bg-white">

        <thead>
        <tr>
          <th class="colCustom4">Name</th>
          <th class="colCustom5">Experience</th>
          <th class="colCustom5">Remove</th>
        </tr>
        </thead>

        <tbody class="filterBody" style="height: 14.5vh">
        <tr *ngFor="let skill of filterSkillList; let indexCount = index">
          <td class="colCustom4">{{skill.name}}</td>
          <td class="colCustom6"><label *ngIf="skill.exp1">{{exp1}}</label><label *ngIf="skill.exp2">{{exp2}}</label><label *ngIf="skill.exp3">{{exp3}}</label></td>
          <td class="colCustom6"><span class="clickableSpan" (click)="removeSkillFromFilter(skill, indexCount)">X</span>
          </td>
        </tr>
        <tr class="emptyTableDiv border" *ngIf="filterSkillList < 1" style="line-height: 12vh;">Empty</tr>
        </tbody>

      </table>

    </div>


  </div>

  <div class="row">
    <div class="col-12">

    <table class="table border mt-1 table-hover bg-white">
      <thead>
      <tr>
        <th style="width: 25%"><span class="headSort">Name</span></th>
        <th style="width: 25%"><span class="headSort">Title</span></th>
        <th style="width: 25%"><span class="headSort">Email</span></th>
        <th style="width: 25%"><span class="headSort">Posted</span></th>
      </tr>
      </thead>
      <tbody style="height: 30vh">
      <tr *ngFor="let cv of filteredCvList">
        <td style="width: 25%">{{cv.fullName}}</td>
        <td style="width: 25%">{{cv.title}}</td>
        <td style="width: 25%">{{cv.email}}</td>
        <td style="width: 25%">{{cv.posted}}</td>
      </tr>
      <tr class="emptyTableDiv border" *ngIf="filteredCvList < 1" style="line-height: 25vh;">Empty</tr>
      </tbody>
    </table>

    </div>




  </div>


</div>
