
.container-fluid{
  padding: 10%;
  padding-top: 5%;
}

.filterBody{
  max-height: 14.5vh;
}

.colCustom1{
  width: 40%;
}

.colCustom2{
  width: 15%;
}

.colCustom3{
  width: 15%;
  padding-left: 4%;
}

.colCustom4{
  width: 50%;
}

.colCustom5{
  width: 25%;
}

.colCustom6{
  width: 25%;
  padding-left: 4%;
}

.emptyTableDiv{
  height: 100%;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px gray;
}

.clickableSpan{
  user-select: none;
  cursor: pointer;
}


tbody, tr{display: block;}

tbody{font-size: 0.9vw;}

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

tbody {
  overflow-y: auto;
}

tbody td, thead th {
  float: left;
}
