.fullCon{
  width: 100%;
  min-width: 1600px;
  height: 100%;
  background: #bfbfbf;
  padding: 5%;
}

#CVForm{
  margin-left: 20%;
  margin-right: 20%;
  background-color: white;
  width: 60%;
  min-width: 800px;
  border: 2px solid black;
  border-radius: 24px;
  padding: 3% 8%;
  box-shadow: 3px 5px #888888;
}

.header{
  font-size: 24pt;
  margin-top: 3vh;
}

.subHeader{
  font-size: 18pt;
  text-decoration: underline;
  display: block;
}

.insideSpan{
  text-decoration:none;
  display: inline-block;
  font-size: 14pt;
  margin-left: 1%;
}

.logoPicture{
  padding: 1vh;
  float: right;
}

.spanClick{
  cursor: pointer;
  user-select: none;
}

.radioButton{
  margin-left: 2vh;
}

#eduHeader{
  position: relative;
  cursor: pointer;
}

#eduHeader:hover #toolTipBox1{
  display: inline-block;
}

#workHeader{
  position: relative;
  cursor: pointer;
}

#workHeader:hover #toolTipBox2{
  display: inline-block;
}

#professionalHeader{
  position: relative;
  cursor: pointer;
}

#professionalHeader:hover #toolTipBox3{
  display: inline-block;
}

.toolTipBox{
  display: none;
  font-size: 18px;
  padding: 2%;
  background-color: white;
  border: 1px solid green;
  text-align: center;
  border-radius: 6px;

  /*Position*/
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0%;
}




