<form id="CVForm" (ngSubmit)="submitCv()" #cvForm="ngForm">

  <label class="header">Submit CV</label>

  <img class="logoPicture" src="./assets/res/logo.png">

  <label class="subHeader">Personal Info</label>

  <div class="form-group">
    <label for="firstName">First Name*</label>
    <input type="text" class="form-control" id="firstName" name="firstName" #firstName="ngModel"
           [(ngModel)]="model.firstName" required minlength="2" maxlength="50" pattern="[a-öA-Ö]+">
    <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)" class="alert alert-danger">
      First name is required(Letters only 2-50).
    </div>
  </div>

  <div class="form-group">
    <label for="lastName">Last Name*</label>
    <input type="text" class="form-control" id="lastName" name="lastName" #lastName="ngModel"
           [(ngModel)]="model.lastName" required minlength="2" maxlength="50" pattern="[a-öA-Ö]+">
    <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)" class="alert alert-danger">
      Last name is required(Letters only 2-50).
    </div>
  </div>

  <div class="form-group">
    <label for="birthYear">Birth Year*</label>
    <select class="form-control" id="birthYear" name="birthYear" #birthYear="ngModel" [(ngModel)]="model.birthYear"
            required>
      <option>1993</option>
      <option>1994</option>
      <option>1995</option>
      <option>1996</option>
      <option>1997</option>
    </select>
    <div *ngIf="birthYear.errors && (birthYear.dirty || birthYear.touched)" class="alert alert-danger">
      Birth year is required.
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail">Email*</label>
    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name="email" #email="ngModel"
           [(ngModel)]="model.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
      Email is required.
    </div>
  </div>

  <div class="form-group">
    <label for="address">Address*</label>
    <input type="text" class="form-control" id="address" name="address" #cvAddress="ngModel"
           [(ngModel)]="model.cvAddress" required minlength="2" maxlength="50">
    <div *ngIf="cvAddress.errors && (cvAddress.dirty || cvAddress.touched)" class="alert alert-danger">
      Address is required(2-50).
    </div>
  </div>

  <div class="form-group">
    <label>Country*</label>
    <app-select-country (messageEvent)="receiveMessage($event)"></app-select-country>
  </div>

  <div class="form-group">
    <label>City*</label>
    <input type="text" class="form-control" name="city" #city="ngModel" [(ngModel)]="model.city" required minlength="2"
           maxlength="50" pattern="[a-öA-Ö]+">
    <div *ngIf="city.errors && (city.dirty || city.touched)" class="alert alert-danger">
      City is required(2-50).
    </div>
  </div>

  <div class="form-group">
    <label>Zip Code*</label>
    <input type="text" class="form-control" name="zipCode" #zipCode="ngModel" [(ngModel)]="model.zipCode" required
           pattern="[0-9]{5}">
    <div *ngIf="zipCode.errors && (zipCode.dirty || zipCode.touched)" class="alert alert-danger">
      Zip code is required(Five digit).
    </div>
  </div>

  <div class="form-group">
    <label>Phone*</label>
    <input type="text" class="form-control" name="phone" #phone="ngModel" [(ngModel)]="model.phone" required
           pattern="[0-9]+">
    <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="alert alert-danger">
      Phone is required(0-9).
    </div>
  </div>

  <div class="form-group">
    <label>Personal Picture*</label>
    <input class="form-control-file" accept="image/jpeg image/png" type="file" (change)="imageUpload($event)"
           accept="image/jpeg, image/png">
    <div *ngIf="fileFormat" class="alert alert-danger">
      Personal picture is required(JPEG/PNG)
    </div>
  </div>

  <div class="form-group">
    <label>Title*</label>
    <select class="form-control" name="title" #title="ngModel" [(ngModel)]="model.title" required>
      <option hidden>Please select title!</option>
      <option *ngFor="let title of fullTitleList">{{title.name}}</option>
    </select>
    <div *ngIf="title.errors && (title.dirty || title.touched)" class="alert alert-danger">
      Title is required.
    </div>
  </div>

  <label class="subHeader">Background</label>

  <!--1, Programming/Development -->
  <div class="form-group">
    <a class="btn btn-success btn-lg btn-block" data-toggle="collapse" href="#skillOne" aria-expanded="false"
       aria-controls="skillOne">Programming/Development</a>
    <div class="collapse" id="skillOne">
      <div class="card card-block">

        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>1-3 years</th>
            <th>3-5 years</th>
            <th>5+ years</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let skill1 of skillListOne; let indexCount = index">
            <th scope="row">
              <div class="form-check"><input type="checkbox" class="form-check-input" [checked]="skillListOne[indexCount].selected" (change)="skillListOne[indexCount].selected = !skillListOne[indexCount].selected"><label>{{skill1.name}}</label></div>
            </th>
            <td><input type="radio" name="optionsSkill{{skill1.id}}" *ngIf="skillListOne[indexCount].selected" [checked]="skillListOne[indexCount].exp1" (change)="skillListOne[indexCount].exp1 = !skillListOne[indexCount].exp1"></td>
            <td><input type="radio" name="optionsSkill{{skill1.id}}" *ngIf="skillListOne[indexCount].selected" [checked]="skillListOne[indexCount].exp2" (change)="skillListOne[indexCount].exp2 = !skillListOne[indexCount].exp2"></td>
            <td><input type="radio" name="optionsSkill{{skill1.id}}" *ngIf="skillListOne[indexCount].selected" [checked]="skillListOne[indexCount].exp3" (change)="skillListOne[indexCount].exp3 = !skillListOne[indexCount].exp3"></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <!--2, Database-->
  <div class="form-group">
    <a class="btn btn-success btn-lg btn-block" data-toggle="collapse" href="#skillTwo" aria-expanded="false"
       aria-controls="skillTwo">Database</a>
    <div class="collapse" id="skillTwo">
      <div class="card card-block">

        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>1-3 years</th>
            <th>3-5 years</th>
            <th>5+ years</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let skill2 of skillListTwo; let indexCount = index">
            <th scope="row">
              <div class="form-check"><input type="checkbox" class="form-check-input"
                                             [checked]="skillListTwo[indexCount].selected"
                                             (change)="skillListTwo[indexCount].selected = !skillListTwo[indexCount].selected">{{skill2.name}}
              </div>
            </th>
            <td><input type="radio" name="optionsSkill{{skill2.id}}" *ngIf="skillListTwo[indexCount].selected"
                       [checked]="skillListTwo[indexCount].exp1"
                       (change)="skillListTwo[indexCount].exp1 = !skillListTwo[indexCount].exp1"></td>
            <td><input type="radio" name="optionsSkill{{skill2.id}}" *ngIf="skillListTwo[indexCount].selected"
                       [checked]="skillListTwo[indexCount].exp2"
                       (change)="skillListTwo[indexCount].exp2 = !skillListTwo[indexCount].exp2"></td>
            <td><input type="radio" name="optionsSkill{{skill2.id}}" *ngIf="skillListTwo[indexCount].selected"
                       [checked]="skillListTwo[indexCount].exp3"
                       (change)="skillListTwo[indexCount].exp3 = !skillListTwo[indexCount].exp3"></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

 <!-- 3, Operating System-->
  <div class="form-group">
    <a class="btn btn-success btn-lg btn-block" data-toggle="collapse" href="#skillThree" aria-expanded="false"
       aria-controls="skillThree">Operating System</a>
    <div class="collapse" id="skillThree">
      <div class="card card-block">

        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>1-3 years</th>
            <th>3-5 years</th>
            <th>5+ years</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let skill3 of skillListThree; let indexCount = index">
            <th scope="row">
              <div class="form-check"><input type="checkbox" class="form-check-input"
                                             [checked]="skillListThree[indexCount].selected"
                                             (change)="skillListThree[indexCount].selected = !skillListThree[indexCount].selected">{{skill3.name}}
              </div>
            </th>
            <td><input type="radio" name="optionsSkill{{skill3.id}}" *ngIf="skillListThree[indexCount].selected"
                       [checked]="skillListThree[indexCount].exp1"
                       (change)="skillListThree[indexCount].exp1 = !skillListThree[indexCount].exp1"></td>
            <td><input type="radio" name="optionsSkill{{skill3.id}}" *ngIf="skillListThree[indexCount].selected"
                       [checked]="skillListThree[indexCount].exp2"
                       (change)="skillListThree[indexCount].exp2 = !skillListThree[indexCount].exp2"></td>
            <td><input type="radio" name="optionsSkill{{skill3.id}}" *ngIf="skillListThree[indexCount].selected"
                       [checked]="skillListThree[indexCount].exp3"
                       (change)="skillListThree[indexCount].exp3 = !skillListThree[indexCount].exp3"></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <!--Network-->
  <div class="form-group">
    <a class="btn btn-success btn-lg btn-block" data-toggle="collapse" href="#skillFour" aria-expanded="false"
       aria-controls="skillFour">Network</a>
    <div class="collapse" id="skillFour">
      <div class="card card-block">

        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>1-3 years</th>
            <th>3-5 years</th>
            <th>5+ years</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let skill4 of skillListFour; let indexCount = index">
            <th scope="row">
              <div class="form-check"><input type="checkbox" class="form-check-input"
                                             [checked]="skillListFour[indexCount].selected"
                                             (change)="skillListFour[indexCount].selected = !skillListFour[indexCount].selected">{{skill4.name}}
              </div>
            </th>
            <td><input type="radio" name="optionsSkill{{skill4.id}}" *ngIf="skillListFour[indexCount].selected"
                       [checked]="skillListFour[indexCount].exp1"
                       (change)="skillListFour[indexCount].exp1 = !skillListFour[indexCount].exp1"></td>
            <td><input type="radio" name="optionsSkill{{skill4.id}}" *ngIf="skillListFour[indexCount].selected"
                       [checked]="skillListFour[indexCount].exp2"
                       (change)="skillListFour[indexCount].exp2 = !skillListFour[indexCount].exp2"></td>
            <td><input type="radio" name="optionsSkill{{skill4.id}}" *ngIf="skillListFour[indexCount].selected"
                       [checked]="skillListFour[indexCount].exp3"
                       (change)="skillListFour[indexCount].exp3 = !skillListFour[indexCount].exp3"></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

 <!-- Server Applications-->
  <div class="form-group">
    <a class="btn btn-success btn-lg btn-block" data-toggle="collapse" href="#skillFive" aria-expanded="false"
       aria-controls="skillFive">Server Applications</a>
    <div class="collapse" id="skillFive">
      <div class="card card-block">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>1-3 years</th>
            <th>3-5 years</th>
            <th>5+ years</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let skill5 of skillListFive; let indexCount = index">
            <th scope="row">
              <div class="form-check"><input type="checkbox" class="form-check-input"
                                             [checked]="skillListFive[indexCount].selected"
                                             (change)="skillListFive[indexCount].selected = !skillListFive[indexCount].selected">{{skill5.name}}
              </div>
            </th>
            <td><input type="radio" name="optionsSkill{{skill5.id}}" *ngIf="skillListFive[indexCount].selected"
                       [checked]="skillListFive[indexCount].exp1"
                       (change)="skillListFive[indexCount].exp1 = !skillListFive[indexCount].exp1"></td>
            <td><input type="radio" name="optionsSkill{{skill5.id}}" *ngIf="skillListFive[indexCount].selected"
                       [checked]="skillListFive[indexCount].exp2"
                       (change)="skillListFive[indexCount].exp2 = !skillListFive[indexCount].exp2"></td>
            <td><input type="radio" name="optionsSkill{{skill5.id}}" *ngIf="skillListFive[indexCount].selected"
                       [checked]="skillListFive[indexCount].exp3"
                       (change)="skillListFive[indexCount].exp3 = !skillListFive[indexCount].exp3"></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <!-- Client Software-->
  <div class="form-group">
    <a class="btn btn-success btn-lg btn-block" data-toggle="collapse" href="#skillSix" aria-expanded="false"
       aria-controls="skillSix">Client Software</a>
    <div class="collapse" id="skillSix">
      <div class="card card-block">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>1-3 years</th>
            <th>3-5 years</th>
            <th>5+ years</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let skill6 of skillListSix; let indexCount = index">
            <th scope="row">
              <div class="form-check"><input type="checkbox" class="form-check-input"
                                             [checked]="skillListSix[indexCount].selected"
                                             (change)="skillListSix[indexCount].selected = !skillListSix[indexCount].selected">{{skill6.name}}
              </div>
            </th>
            <td><input type="radio" name="optionsSkill{{skill6.id}}" *ngIf="skillListSix[indexCount].selected"
                       [checked]="skillListSix[indexCount].exp1"
                       (change)="skillListSix[indexCount].exp1 = !skillListSix[indexCount].exp1"></td>
            <td><input type="radio" name="optionsSkill{{skill6.id}}" *ngIf="skillListSix[indexCount].selected"
                       [checked]="skillListSix[indexCount].exp2"
                       (change)="skillListSix[indexCount].exp2 = !skillListSix[indexCount].exp2"></td>
            <td><input type="radio" name="optionsSkill{{skill6.id}}" *ngIf="skillListSix[indexCount].selected"
                       [checked]="skillListSix[indexCount].exp3"
                       (change)="skillListSix[indexCount].exp3 = !skillListSix[indexCount].exp3"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Backup -->
  <div class="form-group">
    <a class="btn btn-success btn-lg btn-block" data-toggle="collapse" href="#skillSeven" aria-expanded="false"
       aria-controls="skillSeven">Backup</a>
    <div class="collapse" id="skillSeven">
      <div class="card card-block">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>1-3 years</th>
            <th>3-5 years</th>
            <th>5+ years</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let skill7 of skillListSeven; let indexCount = index">
            <th scope="row">
              <div class="form-check"><input type="checkbox" class="form-check-input"
                                             [checked]="skillListSeven[indexCount].selected"
                                             (change)="skillListSeven[indexCount].selected = !skillListSeven[indexCount].selected">{{skill7.name}}
              </div>
            </th>
            <td><input type="radio" name="optionsSkill{{skill7.id}}" *ngIf="skillListSeven[indexCount].selected"
                       [checked]="skillListSeven[indexCount].exp1"
                       (change)="skillListSeven[indexCount].exp1 = !skillListSeven[indexCount].exp1"></td>
            <td><input type="radio" name="optionsSkill{{skill7.id}}" *ngIf="skillListSeven[indexCount].selected"
                       [checked]="skillListSeven[indexCount].exp2"
                       (change)="skillListSeven[indexCount].exp2 = !skillListSeven[indexCount].exp2"></td>
            <td><input type="radio" name="optionsSkill{{skill7.id}}" *ngIf="skillListSeven[indexCount].selected"
                       [checked]="skillListSeven[indexCount].exp3"
                       (change)="skillListSeven[indexCount].exp3 = !skillListSeven[indexCount].exp3"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div><!---->
  </div>

  <!-- Hardware -->
  <div class="form-group">
    <a class="btn btn-success btn-lg btn-block" data-toggle="collapse" href="#skillEight" aria-expanded="false"
       aria-controls="skillEight">Hardware</a>
    <div class="collapse" id="skillEight">
      <div class="card card-block">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>1-3 years</th>
            <th>3-5 years</th>
            <th>5+ years</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let skill8 of skillListEight; let indexCount = index">
            <th scope="row">
              <div class="form-check"><input type="checkbox" class="form-check-input"
                                             [checked]="skillListEight[indexCount].selected"
                                             (change)="skillListEight[indexCount].selected = !skillListEight[indexCount].selected">{{skill8.name}}
              </div>
            </th>
            <td><input type="radio" name="optionsSkill{{skill8.id}}" *ngIf="skillListEight[indexCount].selected"
                       [checked]="skillListEight[indexCount].exp1"
                       (change)="skillListEight[indexCount].exp1 = !skillListEight[indexCount].exp1"></td>
            <td><input type="radio" name="optionsSkill{{skill8.id}}" *ngIf="skillListEight[indexCount].selected"
                       [checked]="skillListEight[indexCount].exp2"
                       (change)="skillListEight[indexCount].exp2 = !skillListSeven[indexCount].exp2"></td>
            <td><input type="radio" name="optionsSkill{{skill8.id}}" *ngIf="skillListEight[indexCount].selected"
                       [checked]="skillListEight[indexCount].exp3"
                       (change)="skillListEight[indexCount].exp3 = !skillListEight[indexCount].exp3"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <label class="subHeader">Education
    <span class="btn btn-success" (click)="addEducation()" style="margin-left: 1vh">+</span>
  </label>

  <div class="form-group">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let i of educationList; let indexCount = index">

        <span class="float-right spanClick" (click)="removeEducation(indexCount)">X</span>

        <label class="minorHeader" style="display: block">Name*</label>
        <input type="text" class="form-control" name="educationName{{indexCount}}" #educationName{{indexCount}}="ngModel" [(ngModel)]="educationList[indexCount].name" required minlength="2" maxlength="50">

        <label class="minorHeader">Start*</label>
        <select class="form-control w-25" name="educationStart{{indexCount}}" #educationStart{{indexCount}}="ngModel"
                [(ngModel)]="educationList[indexCount].start">
          <option *ngFor="let i of yearValue">{{i}}</option>
        </select>

        <label class="minorHeader">End*</label>
        <select class="form-control w-25" name="educationEnd{{indexCount}}" #educationEnd{{indexCount}}="ngModel"
                [(ngModel)]="educationList[indexCount].end">
          <option *ngFor="let i of yearValue">{{i}}</option>
        </select>

        <label class="minorHeader">Comment</label> <span class="float-right">{{educationList[indexCount].comment.length}}/180</span>
        <textarea class="form-control" style="min-height: 14vh" name="educationComment{{indexCount}}"
                  #educationComment{{indexCount}}="ngModel"
                  [(ngModel)]="educationList[indexCount].comment" maxlength="180"></textarea>

      </li>
    </ul>
  </div>

  <label class="subHeader">Workplaces
    <span class="btn btn-success" style="margin-left: 1vh" (click)="addWorkplace()">+</span>

  </label>

  <div class="form-group">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let i of workplaceList; let indexCount = index">

        <span class="float-right spanClick" (click)="removeWorkplace(indexCount)">X</span>

          <label class="minorHeader">Name*</label>
          <input type="text" class="form-control" name="workPlaceName{{indexCount}}"
                 #workPlaceName{{indexCount}}="ngModel"
                 [(ngModel)]="workplaceList[indexCount].name">

            <label class="minorHeader">Start*</label>
            <select class="form-control w-25" name="workPlaceStart{{indexCount}}" #workPlaceStart{{indexCount}}="ngModel"
                    [(ngModel)]="workplaceList[indexCount].start">
              <option *ngFor="let i of yearValue">{{i}}</option>
            </select>

            <label class="minorHeader">End*</label>
            <select class="form-control w-25" name="workPlaceEnd{{indexCount}}" #workPlaceEnd{{indexCount}}="ngModel"
                    [(ngModel)]="workplaceList[indexCount].end">
              <option *ngFor="let i of yearValue">{{i}}</option>
            </select>

          <label class="minorHeader">Comment</label> <span class="float-right">{{workplaceList[indexCount].comment.length}}/180</span>
          <textarea class="form-control" style="min-height: 14vh" name="workPlaceComment{{indexCount}}"
                    #workPlaceComment{{indexCount}}="ngModel"
                    [(ngModel)]="workplaceList[indexCount].comment"></textarea>
      </li>
    </ul>
  </div>

  <div class="form-group">
    <div class="from-inline mb-1">
      <label class="subHeader" style="display: inline">Professional profile</label> <span class="float-right">{{this.ppLength}}/500</span>
    </div>
    <textarea type="text" class="form-control" style="min-height: 15vh" name="comment" #comment="ngModel"
              [(ngModel)]="model.comment" maxlength="500"
              (ngModelChange)="setProfessionalProfileLength(model.comment)"></textarea>

  </div>

  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="checkBoxTerms" [checked]="acceptedTerms" (change)="acceptedTerms = !acceptedTerms">
    <label class="form-check-label" for="checkBoxTerms"> I herby accept that my personal information will be stored by Work-It*</label>
  </div>

  <button type="submit" class="btn btn-success w-100 mt-2" style="font-size: 18pt" [disabled]="!cvForm.valid || !acceptedTerms">Submit CV</button>

</form>

<!--Validation modal-->
<div class="modal fade" #validationModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4>{{modalHeader}}</h4>
        </div>
        <div class="modal-body">
          {{modalMessage}}
        </div>
        <div class="modal-footer">

          <span class="btn btn-success float-right" data-dismiss="modal">Close</span>
        </div>
      </form>
    </div>
  </div>
</div>







