.titleList{
  overflow: scroll;
  overflow-x: hidden;
  height: 25vh;
  border: 1px lightgrey solid;
}

.titleListItem{
  font-size: 12pt;
  padding: 1vh;
}

.spanClick{
  user-select: none;
  float: right;
  cursor: pointer;
  font-size: 11pt;
}
