<app-header></app-header>

<div class="container-fluid">

  <div class="row">

    <div class="col" style="max-width: 40vw">

      <input type="text" placeholder="Search" [(ngModel)]="filter" class="mt-4 form-control w-25">

        <table class="table border mt-2 table-hover">
          <thead>
          <tr>
            <th style="width: 28%"><span class="headSort" (click)="sortName()">Name</span></th>
            <th style="width: 20%"><span class="headSort" (click)="sortTitle()">Title</span></th>
            <th style="width: 32%"><span class="headSort" (click)="sortEmail()">Email</span></th>
            <th style="width: 20%"><span class="headSort" (click)="sortPosted()">Posted</span></th>
          </tr>
          </thead>
          <tbody style="height: 75vh">
          <tr *ngFor="let cv of fullCvList | filter:filter;" (click)="selectedCv(cv)" class="clickable-row">
            <td style="width: 28%">{{cv.fullName}}</td>
            <td style="width: 20%">{{cv.title}}</td>
            <td style="width: 32%">{{cv.email}}</td>
            <td style="width: 20%">{{cv.posted}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    <div class="col mt-5">

      <div class="row" style="min-height: 35vh">

        <div class="col-lg-3">
          <h4>Personal details</h4>
          <img id="profileImage" *ngIf="cvSelected" [src]="'data:image/jpg;base64,'+model.imageBase64" class="img-thumbnail">
          <label class="infoLabel">{{model.fullName}}</label>
          <label class="infoLabel">{{model.birthYear}}</label>
          <label class="infoLabel">{{model.title}}</label>
        </div>
        <div class="col-lg-3">
          <h4>Contact</h4>
          <label class="infoLabel">{{model.email}}</label>
          <label class="infoLabel">{{model.phone}}</label>
          <label class="infoLabel">{{model.cvAddress}}</label>
          <label class="infoLabel">{{model.zipCode}}</label>
          <label class="infoLabel">{{model.city}}</label>
          <label class="infoLabel">{{model.cvCountry}}</label>
        </div>
        <div class="col mt-2 mr-5">

          <table class="table border skillTable mr-5">
            <thead>
            <tr>
              <th class="text-center w-50">Skill</th>
              <th class="text-center w-50">Experience</th>
            </tr>
            </thead>
            <tbody style="max-height: 25vh; cursor: default;">
            <tr *ngFor="let skill of model.fullSkillList">
              <td class="filterable-cell text-center w-50">{{skill.name}}</td>
              <td class="filterable-cell text-center w-50" *ngIf="skill.exp1">0-3 Years</td>
              <td class="filterable-cell text-center w-50" *ngIf="skill.exp2">3-5 Years</td>
              <td class="filterable-cell text-center w-50" *ngIf="skill.exp3">5+ Years</td>
            </tr>
            </tbody>
          </table>


        </div>
      </div>

      <div class="row border mt-5" style="min-height: 35vh">

        <div class="container">

          <ul class="nav nav-pills m-3">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#home">Professional Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#menu1">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#menu2">Workplace</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active container" id="home">
              <textarea class="form-control mt-3" style="min-height: 22vh" name="comment" #comment="ngModel" [(ngModel)]="model.comment" maxlength="500">{{model.comment}}</textarea>
              <button class="btn btn-primary mt-2 mb-2" style="float: right" [disabled]="!cvSelected" (click)="updateProfessionalProfile()">Save</button>
            </div>

            <div class="tab-pane container" id="menu1">
              <div class="row">
                <div class="col">
                  <table class="table table-hover" style="min-height: 20vh">
                    <thead class="border">
                    <tr>
                      <th style="width: 40%">Name</th>
                      <th style="width: 30%">Start</th>
                      <th style="width: 30%">End</th>
                    </tr>
                    </thead>
                    <tbody style="min-height: 20vh">
                    <tr *ngFor="let edu of model.educationList" (click)="setSelectedEducation(edu)" class="border">
                      <td style="width: 40%">{{edu.name}}</td>
                      <td style="width: 30%">{{edu.start}}</td>
                      <td style="width: 30%">{{edu.end}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col">
                  <textarea class="form-control" style="min-height: 22vh" name="eduComment" #eduComment="ngModel" [(ngModel)]="selectedEducation.comment" maxlength="180">{{selectedEducation.comment}}</textarea>
                  <button class="btn btn-primary float-right mt-2 mb-2" [disabled]="!eduSelected" (click)="updateEduComment()">Save</button>
                </div>
              </div>
            </div>

            <div class="tab-pane container" id="menu2">
        <div class="row">
          <div class="col">
            <table class="table table-hover" style="min-height: 20vh">
              <thead class="border">
              <tr>
                <th style="width: 40%">Name</th>
                <th style="width: 30%">Start</th>
                <th style="width: 30%">End</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let work of model.workPlaceList" (click)="setSelectedWorkPlace(work)" class="border">
                <td style="width: 40%">{{work.name}}</td>
                <td style="width: 30%">{{work.start}}</td>
                <td style="width: 30%">{{work.end}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col">
            <textarea class="form-control" style="min-height: 22vh" name="workComment" #workComment="ngModel" [(ngModel)]="selectedWorkplace.comment" maxlength="180">{{selectedWorkplace.comment}}</textarea>
            <button class="btn btn-primary float-right mt-2 mb-2" [disabled]="!workSelected" (click)="updateWorkComment()">Save</button>
          </div>
        </div>
      </div>
      </div>
    </div>
      </div>

      <div class="row">
        <div class="col-lg-12 mt-3">
          <button class="btn btn-primary float-right mr-2" (click)="deleteCv()" [disabled]="!cvSelected">Delete Cv</button>
          <button class="btn btn-primary float-right mr-2" (click)="createPDF(model)" [disabled]="!cvSelected">PDF</button>
        </div>
      </div>

    </div>
  </div>
</div>

<!--Info Modal-->
<div class="modal fade" #infoModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4>{{infoModalHeader}}</h4>
        </div>
        <div class="modal-body">
          {{infoModalMessage}}
        </div>
        <div class="modal-footer">
          <span class="btn btn-primary float-right" data-dismiss="modal">Okey</span>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Confirmation Modal-->
<div class="modal fade" #confirmationModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4>{{infoModalHeader}}</h4>
        </div>
        <div class="modal-body">
          {{infoModalMessage}}
        </div>
        <div class="modal-footer">
          <span class="btn btn-primary float-right"  (click)="yesValidation()" data-dismiss="modal">Yes</span>
          <span class="btn btn-primary float-right" data-dismiss="modal">No</span>
        </div>
      </form>
    </div>
  </div>
</div>
