<app-header></app-header>

<div class="container-fluid bg-light">

  <div class="row">

    <div class="col" style="max-width: 40vw">

      <input type="text" placeholder="Search" [(ngModel)]="filter" class="mt-2 form-control w-25">

        <table class="table border mt-1 table-hover bg-white">
          <thead>
          <tr>
            <th style="width: 28%"><span class="headSort" (click)="sortName()">Name</span></th>
            <th style="width: 20%"><span class="headSort" (click)="sortTitle()">Title</span></th>
            <th style="width: 32%"><span class="headSort" (click)="sortEmail()">Email</span></th>
            <th style="width: 20%"><span class="headSort" (click)="sortPosted()">Posted</span></th>
          </tr>
          </thead>
          <tbody style="height: 74vh">
          <tr *ngFor="let cv of fullCvList | filter:filter;" (click)="selectedCv(cv)" class="clickable-row">
            <td style="width: 28%">{{cv.fullName}}</td>
            <td style="width: 20%">{{cv.title}}</td>
            <td style="width: 32%">{{cv.email}}</td>
            <td style="width: 20%">{{cv.posted}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    <div class="col mt-5 mr-5">

      <div class="row border bg-white" style="min-height: 35vh">

        <div class="col-lg-3 p-3 mr-4">

          <h4>Personal details</h4>

          <div class="form-group mt-2" style="min-height: 16vh">
          <img id="profileImage" *ngIf="cvSelected" [src]="'data:image/jpg;base64,'+model.imageBase64" class="img-thumbnail">
          </div>

          <div class="form-group mt-2">
            <input type="text" class="form-control" placeholder="Name" name="fullName" #fullName="ngModel" [(ngModel)]="model.fullName" style="color: black;" maxlength="50">
            <input type="number" class="form-control mt-1" placeholder="Birth year" name="birthYear" #birthYear="ngModel" [(ngModel)]="model.birthYear" style="color: black;" maxlength="4">
            <input type="text" class="form-control mt-1" placeholder="Title" name="title" #title="ngModel" [(ngModel)]="model.title" style="color: black;" maxlength="30">
          </div>

        </div>


        <div class="col-lg-3 pt-3 border-right">
          <h4>Contact</h4>

          <div class="form-group mt-2">
            <input type="text" class="form-control" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="model.email" style="color: black;" maxlength="50">
            <input type="text" class="form-control mt-1" placeholder="Phone"  name="phone" #phone="ngModel" [(ngModel)]="model.phone" style="color: black;" maxlength="16">
            <input type="text" class="form-control mt-1" placeholder="Address"  name="cvAddress" #cvAddress="ngModel" [(ngModel)]="model.cvAddress" style="color: black;" maxlength="30">
            <input type="text" class="form-control mt-1" placeholder="Zip code" name="zipCode" #zipCode="ngModel" [(ngModel)]="model.zipCode" style="color: black;" maxlength="50">
            <input type="text" class="form-control mt-1" placeholder="City" name="city" #city="ngModel" [(ngModel)]="model.city" style="color: black;" maxlength="30">
            <input type="text" class="form-control mt-1" placeholder="Country" name="cvCountry" #cvCountry="ngModel" [(ngModel)]="model.cvCountry" style="color: black;" maxlength="50">
          </div>

          <button class="btn btn-primary float-right mb-1" [disabled]="!cvSelected" (click)="updateSelectedCv()">Save</button>

        </div>


        <div class="col mt-2  ml-4" style="min-height: 38vh">

          <input type="text" placeholder="Search" [(ngModel)]="filter1" class="form-control w-25">

          <table class="table border skillTable mt-2">
            <thead>
            <tr>
              <th class="text-center w-50">Skill</th>
              <th class="text-center w-50" style="padding-right: 8%">Experience</th>
            </tr>
            </thead>
            <tbody style="max-height: 25vh; cursor: default;">
            <tr *ngFor="let skill of model.fullSkillList | filter:filter1">
              <td class="filterable-cell text-center w-50">{{skill.name}}</td>
              <td class="filterable-cell text-center w-50" *ngIf="skill.exp1">{{exp1}}</td>
              <td class="filterable-cell text-center w-50" *ngIf="skill.exp2">{{exp2}}</td>
              <td class="filterable-cell text-center w-50" *ngIf="skill.exp3">{{exp3}}</td>
            </tr>

            <tr class="emptyTableDiv1 border" *ngIf="model.fullSkillList < 1">Empty</tr>

            </tbody>
          </table>

        </div>


      </div>

      <div class="row border mt-2 bg-white" style="min-height: 35vh">

        <div class="container">

          <ul class="nav nav-pills m-3">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#home">Professional Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#menu1">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#menu2">Workplace</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active container" id="home">
              <span class="float-right" style="font-size: 14px; margin-top: -2.4%">{{this.ppCharCount}}/1700</span>
              <textarea class="form-control mt-3" style="min-height: 22vh" name="comment" #comment="ngModel" [(ngModel)]="model.comment" (ngModelChange)="setPpCharCount()" maxlength="1700">{{model.comment}}</textarea>
              <button class="btn btn-primary mt-2 mb-2" style="float: right" [disabled]="!cvSelected" (click)="updateProfessionalProfile()">Save</button>
            </div>

            <div class="tab-pane container" id="menu1">


              <div class="row">
                <div class="col">
                  <table class="table table-hover">
                    <thead class="border">
                    <tr>
                      <th style="width: 40%">Name</th>
                      <th style="width: 30%">Start</th>
                      <th style="width: 30%">End</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let edu of model.educationList" (click)="setSelectedEducation(edu)" class="border">
                      <td style="width: 40%">{{edu.name}}</td>
                      <td style="width: 30%">{{edu.start}}</td>
                      <td style="width: 30%">{{edu.end}}</td>
                    </tr>

                    <tr class="emptyTableDiv2 border" *ngIf="model.educationList < 1">Empty</tr>

                    </tbody>
                  </table>
                </div>
                <div class="col">
                  <span class="float-right" style="font-size: 14px;  margin-top: -5%">{{this.eduCharCount}}/180</span>
                  <textarea class="form-control" style="min-height: 22vh" name="eduComment" #eduComment="ngModel" [(ngModel)]="selectedEducation.comment" (ngModelChange)="setEduCharCount()" maxlength="180">{{selectedEducation.comment}}</textarea>
                  <button class="btn btn-primary float-right mt-2 mb-2" [disabled]="!eduSelected" (click)="updateEduComment()">Save</button>
                </div>
              </div>
            </div>

            <div class="tab-pane container" id="menu2">
        <div class="row">
          <div class="col">
            <table class="table table-hover" style="min-height: 20vh">
              <thead class="border">
              <tr>
                <th style="width: 40%">Name</th>
                <th style="width: 30%">Start</th>
                <th style="width: 30%">End</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let work of model.workPlaceList" (click)="setSelectedWorkPlace(work)" class="border">
                <td style="width: 40%">{{work.name}}</td>
                <td style="width: 30%">{{work.start}}</td>
                <td style="width: 30%">{{work.end}}</td>
              </tr>

              <tr class="emptyTableDiv2 border" *ngIf="model.workPlaceList < 1">Empty</tr>

              </tbody>
            </table>
          </div>
          <div class="col">
            <span class="float-right" style="font-size: 14px; margin-top: -5%">{{this.workCharCount}}/180</span>
            <textarea class="form-control" style="min-height: 22vh" name="workComment" #workComment="ngModel" [(ngModel)]="selectedWorkplace.comment" (ngModelChange)="setWorkCharCount()" maxlength="180">{{selectedWorkplace.comment}}</textarea>
            <button class="btn btn-primary float-right mt-2 mb-2" [disabled]="!workSelected" (click)="updateWorkComment()">Save</button>
          </div>
        </div>
      </div>
      </div>
    </div>
      </div>

      <div class="row">
        <div class="col-lg-12 mt-3">
          <button class="btn btn-primary float-right mr-2" (click)="deleteCvPressed()" [disabled]="!cvSelected">Delete Cv</button>
          <button class="btn btn-primary float-right mr-2" (click)="createPDF(model)" [disabled]="!cvSelected">PDF</button>
        </div>
      </div>

    </div>
  </div>
</div>

<!--Info Modal-->
<div class="modal fade" #infoModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4>{{infoModalHeader}}</h4>
        </div>
        <div class="modal-body">
          {{infoModalMessage}}
        </div>
        <div class="modal-footer">
          <span class="btn btn-primary float-right" data-dismiss="modal">Okey</span>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Confirmation Modal-->
<div class="modal fade" #confirmationModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4>{{infoModalHeader}}</h4>
        </div>
        <div class="modal-body">
          {{infoModalMessage}}
        </div>
        <div class="modal-footer">
          <span class="btn btn-primary float-right"  (click)="deleteCv()" data-dismiss="modal">Yes</span>
          <span class="btn btn-primary float-right" data-dismiss="modal">No</span>
        </div>
      </form>
    </div>
  </div>
</div>
