
.container-fluid{
  min-width: 1400px;
  min-height: 800px;
  height: 93.5vh;
}

#profileImage{
  max-height: 16vh;
}

.infoLabel {
  display: block;
  margin-bottom: 0.5vh;
  margin-top: 0.5vh;
  font-size: 16px;
  font-size: 1vw;
}

.emptyTableDiv1{
  height: 25vh;
  text-align: center;
  line-height: 20vh;
  font-weight: bold;
  text-shadow: 1px 1px gray;
}

.emptyTableDiv2{
  height: 17vh;
  text-align: center;
  line-height: 16vh;
  font-weight: bold;
  text-shadow: 1px 1px gray;
}


.skillTable{
  cursor: context-menu;
}

.headSort{
  cursor: pointer;
}

tbody, tr{ display: block; }

tbody{cursor: pointer;
  font-size: 0.9vw;
}


tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}


tbody {
  overflow-y: auto;
}

tbody td, thead th {
  float: left;
}





