
#profileImage{
  max-height: 20vh;
}

.infoLabel {
  display: block;
  margin-bottom: 0.5vh;
  margin-top: 0.5vh;
  font-size: 16px;
  font-size: 1vw;
}

.skillTable{
  cursor: context-menu;
}

.headSort{
  cursor: pointer;
}

tbody, tr{ display: block; }

tbody{cursor: pointer;
  font-size: 0.9vw;}


tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}


tbody {
  overflow-y: auto;
}

tbody td, thead th {
  float: left;
}





